#app {
  text-align: center;
  margin: auto;
  background-color: #ad8787;
  justify-content: center;
  max-width: 85%;
  min-width: 50%;
  border: 1px solid black;
}
#home {
  margin: auto;
  background-color: #ad879a;
  min-height: 700px;
}

#hello {
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

#header {
  text-align: center;
}

#root {
  width: 100%;
  height: 100%;
  background-color: #ad9187;
  float: left;
}

#studentTracking {
  background-color: #ad879a;
}

.label {
  font-weight: bold;
}
